@model ContactViewModel

@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<form asp-action="Contact" method="post">

    <label asp-for="Name"></label>
    <input asp-for="Name" />

   <label asp-for="IsChecked"></label>
    <input asp-for="IsChecked" />

    <div class="form-group">
        <input type="submit" value="Create" class="btn btn-default" />
    </div>
</form>

