@model ContactViewModel
<br />
<p>
    For questions you may reach me at the following address:
</p>

<script language="JavaScript">

    var username = "stevescott517";

    var hostname = "gmail.com";

    var linktext = username + "@@" + hostname;

    document.write("<a href='" + "mail" + "to:" + username + "@@" + hostname + "'>" + linktext + "</a>");

</script>