@using Microsoft.AspNetCore.Mvc.Rendering
@model IndexViewModel

@{
    ViewData["Title"] = "Camera Exposure Computer";
}


<form asp-action="mainAction">
<div>
    <table>
        @*<tr>
            <td><label asp-for="SelectedLightLevel"></label></td>
            @Html.DropDownListFor(model => model.SelectedLightLevel, Model.LightLevels, htmlAttributes: new { @class = "form-control" })
        </tr>*@

        <tr>
            <td><label asp-for="ShutterSpeed">Shutter Speed</label></td>
            <td><input asp-for="ShutterSpeed"/></td>
        </tr>

        <tr>
            <td><label asp-for="FStop">F-Stop</label></td>
            <td><input asp-for="FStop" /></td>
        </tr>

        <tr>
            <td><label asp-for="Iso">ISO</label></td>
            <td><input asp-for="Iso"/></td>
        </tr>

        <tr>
            <td><lable asp-for="Ev">Exposure Value</lable></td>
            <td><label id="ev" asp-for="Ev" name="Ev" value="0"/></td>
        </tr>
    </table>
</div>
</form>